<p class="text-info text-center"><font size="6">Parsing vacancy content with Nokogiri</font></p>
  
<%= render 'new_form' %>
<aside id="right_info">
	<table>
		<tr>
			<td>Finished Art.grams.CSN-21<td>
			<td>Voytas YS<td>
		</tr>
		<tr>
			<td>E-mail:<td>
			<td>voytas1991@gmail.com<td>
		</tr>
	</table>
</aside>
<p class="btn btn-info" id="list_link"><%= link_to 'List', contents_path, :class => "text-center"%></p>
